* {
  margin: 0px;
  padding: 0px;
 
}
body {
	display: initial;
	 
}
/* header styling*/
header {
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
}
.title {
  display: block;
  justify-content: center;
  flex-basis: 20%;
  margin: 2rem;
}
.title a {
  color: #111;
  text-decoration: none;
  font-size: 3rem;
  font-family: "Baloo Bhai 2", cursive;
}
.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  list-style: none;
}
.nav-links input[type="text"] {
  display: flex;
  width: 500px;
  height: 50px;
  margin-right: 8rem;
  margin-left: 70px;
  margin-bottom: 0rem;
  border:none;
}

.nav-links button {
  width: 100px;
  height: 50px;
  margin-left:-8rem;
  margin-right: 17rem;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  background-color: darkgray;
  border:none;
  cursor: pointer;
}
/* login form */
body {font-family: Arial, Helvetica, sans-serif;}
	
/* Full-width input fields */
#login input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
 
}
#login input[type=password]{
	 width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */


#login button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align:center;
}
.displaybtn button{
	background-color: darkgrey;
  color: black;
  padding: 14px 20px;
 margin-left:-11rem;
 margin-right:12px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
  font-size: 15px;
  font-weight: bolder;
	
}
.displaybtn button:hover{
	border:none;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
#login .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 40%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
 margin:1rem;
}
span.nacc {
  float: right;
  padding-top: 16px;
 margin:1rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 55%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}


.cart {
  text-decoration: none;
}
.cart img {
  margin-top: 0.5rem;
  margin-right: 1rem;
  height: 45px;
  width: 40px;
}
.cart h4 {
  margin-top: 0rem;
  font-size: 12px;
  text-align: center;
}
/*category*/

.category {
  display: flex;
  background-color: darkgray;
  height: 30px;
  flex-grow: 10;
  justify-content: flex-start;
  list-style: none;
  /* border-style: outset; */
}
.category li a {
  margin: 6rem;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  color: #111;
  text-decoration: none;
  font-family: Arial;
  font-weight: initial;
}
.frontimg img{
	width: 100%;
    height: 540px;
	
}
h1{
	text-align:center;
	    margin: 2rem;
		    color: mediumblue;
			font-size: 40px;
}
#navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-gap: 1rem;
  margin: 1rem;
}
h4{
	text-align:center;
}
#img-1 {
  /* border: 2px solid black; */
  height: 200px;
  width: auto;
}
#img-1 img{
	height: 250px;
    width: 200px;
	margin-left:70px;
	
}
#img-1 p{
	color:green;
	text-align: center;
}
#img-1 h5{
	color:grey;
	text-align: center;
}

#img-2 {
  /* border: 2px solid blue; */
  height: 200px;
  width: auto;
}
#img-2 img{
	height: 250px;
    width: 200px;
	margin-left:70px;
}
#img-2 p{
	color:green;
	text-align: center;
}
#img-2 h5{
	color:grey;
	text-align: center;
}
#img-3 {
  /* border: 2px solid red; */
  height: 200px;
  width: auto;
}
#img-3 img{
	height: 250px;
    width: 200px;
	margin-left:70px;
}
#img-3 p{
	color:green;
	text-align: center;
}
#img-3 h5{
	color:grey;
	text-align: center;
}
#img-4 {
  /* border: 2px solid yellow; */
  height: 200px;
width: auto;
}

  #img-4 img{
	height: 250px;
    width: 200px;
	margin-left:45px;
}
#img-4 p{
	color:green;
	text-align: center;
}
#img-4 h5{
	color:grey;
	text-align: center;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
      margin-top: 300px;
	  width:100%;
}
